.pokemons{
    &__cards{
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__card{
        background-size: cover;
        background-position: right;
        background-color: black;
        text-align: center;
        width: 300px;
        height: 400px;
        border: 2px solid #000;
        cursor: pointer;
        margin: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato-Light';
        border-radius: 5px;
        text-transform: capitalize;
        img{
            height: 200px;
        }
        &__types{
            list-style: none;
            padding: 0;
            li{
                text-transform: capitalize;
                font-family: 'FiraSans-Regular';
                margin: 5px;
                display: inline;
                border-radius: 3px;
                padding: 2px 5px 2px 5px;
            }
        }
    }
}

.pagination{
    text-align: center;
    list-style: none;
    padding: 0;
    li{
        display: inline;
        color: #9E0000;
        font-size: 15px;
        font-weight: bold;
        font-family: 'FiraSans-Regular';
        margin: 7px;
        border: 1px solid #9E0000;
        border-radius: 1px;
        cursor: pointer;
        padding: 5px 10px 5px 10px;
        a{
            text-decoration: none;
            color: #9E0000;
        }
    }
}

.active{
    color: #fff;
    background: #9E0000;
}

.activelink{
    color: #fff !important;
}


.grass{
    background: linear-gradient(to bottom right, rgb(163, 231, 131), rgb(68, 173, 12));
    border: 2px solid rgb(68, 173, 12);
}

.poison{
    background: linear-gradient(to bottom right, rgb(209, 104, 223), rgb(139, 35, 190));
    border: 2px solid rgb(139, 35, 190);
}

.fire{
    background: linear-gradient(to bottom right, rgb(226, 66, 66), rgb(212, 26, 19));
    border: 2px solid rgb(212, 26, 19);
}

.electric{
    background: linear-gradient(to bottom right, rgb(224, 213, 52), rgb(243, 186, 15));
    border: 2px solid rgb(243, 186, 15);
}

.water{
    background: linear-gradient(to bottom right, rgb(58, 66, 139), rgb(14, 71, 141));
    border: 2px solid rgb(14, 71, 141);
}

.bug{
    background: linear-gradient(to bottom right, rgb(179, 146, 75), rgb(201, 134, 79));
    border: 2px solid rgb(201, 134, 79);
}

.fighting{
    background: linear-gradient(to bottom right, rgb(245, 43, 43), rgb(119, 7, 1));
    border: 2px solid rgb(119, 7, 1);
}

.flying{
    background: linear-gradient(to bottom right, rgb(123, 88, 221), rgb(0, 105, 233));
    border: 2px solid rgb(0, 105, 233);
}

.rock{
    background: linear-gradient(to bottom right, rgb(247, 131, 54), rgb(90, 46, 9));
    border: 2px solid rgb(90, 46, 9);
}

.ghost{
    background: linear-gradient(to bottom right, rgb(102, 69, 69), rgb(75, 63, 63));
    border: 2px solid rgb(75, 63, 63);
}

.steel{
    background: linear-gradient(to bottom right, rgb(87, 84, 84), rgb(119, 101, 101));
    border: 2px solid rgb(119, 101, 101);
}

.psychic{
    background: linear-gradient(to bottom right, #aa3fd4, rgb(194, 0, 184));
    border: 2px solid rgb(194, 0, 184);
}

.ice{
    background: linear-gradient(to bottom right, rgb(40, 145, 177), rgb(0, 195, 255));
    border: 2px solid rgb(0, 195, 255);
}

.dragon{
    background: linear-gradient(to bottom right, rgb(102, 4, 4), rgb(100, 6, 3));
    border: 2px solid rgb(100, 6, 3);
}

.dark{
    background: linear-gradient(to bottom right, rgb(70, 23, 23), rgb(61, 33, 32));
    border: 2px solid rgb(61, 33, 32);
}

.fairy{
    background: linear-gradient(to bottom right, rgb(107, 13, 126), rgb(148, 4, 129));
    border: 2px solid rgb(148, 4, 129);
}

.unknown{
    background: linear-gradient(to bottom right, rgb(35, 125, 185), rgb(0, 171, 184));
    border: 2px solid rgb(0, 171, 184);
}

.shadow{
    background: linear-gradient(to bottom right, rgb(66, 66, 66), rgb(68, 64, 64));
    border: 2px solid rgb(68, 64, 64);
}

.ground{
    background: linear-gradient(to bottom right, rgb(64, 70, 30), rgb(66, 56, 12));
    border: 2px solid rgb(66, 56, 12);
}
