.pokdetails{
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 35px;
        font-family: 'Roboto Regular';
        h3{
            text-transform: capitalize;
            font-size: 23px;
        }
        p{
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: rgb(204, 31, 31);
        }
    }
    &__types{
        list-style-type: none;
        padding: 5px 0 10px 0;
        margin: 0 auto;
        width: 265px;
        display: flex;
        justify-content: space-around;
        li{
            font-family: 'FiraSans-Regular';
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 8px;
            padding: 3px;
            border: 1px solid black;
        }
    }
    &__image{
        position: relative;
        display: flex;
        justify-content: center;
        height: 220px;
        &-background,&-pokemon{
            position: absolute;
        }
        &-background{
            img{
                border: 5px solid rgb(255, 127, 8);
                width: 270px;
                height: 209px;
            }
        }
        &-pokemon{
            img{
                width: 145px;
                padding-top: 23px;
            }
        }
    }
    &__stats{
        list-style-type: none;
        padding: 0;
        width: 265px;
        margin: 0 auto;
        margin-bottom: 15px;
        li{
            display: flex;
            justify-content: space-between;
            padding: 10px 0 10px 0;
            border-bottom: 1px solid #000;
            padding-left: 5px;
            padding-right: 5px;
            font-family: 'Montserrat Regular';
            font-weight: bold;
            span{
                color: rgb(204, 31, 31);
            }
            &:last-child{
                display: none;
            }
        }
    }
}

.popup-content {
    width: 350px !important;
    border: 5px solid rgb(255, 127, 8) !important;
    background: linear-gradient(to bottom right, rgb(212, 241, 23), rgb(212, 117, 69)) !important;
}